* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #FF5F6D, #FFC371);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player {
  width: 800px;
  border:5px solid rgba(0,0,0,0.2);
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.player_video {
  width: 100%;
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
} */

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player_controls {
  display:flex;
  position: absolute;
  bottom:0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition:all .3s;
  flex-wrap:wrap;
  background:rgba(0, 0, 0, 0.1);
}

.player:hover .player_controls {
  transform: translateY(0);
}

.player:hover .progress {
  height:15px;
}

.player_button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  text-align: center;
}

.player__slider {
  width:10px;
  height:30px;
}
